/* src/components/CartItem/CartItem.css */

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  flex-grow: 1; /* Ocupa el espacio restante */
}

.cart-item-details h4 {
  margin: 0 0 5px;
  font-size: 1.2rem;
}

.cart-item-details p {
  margin: 0;
  color: #666;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.remove-button:hover {
  background-color: #c82333;
}

/* 游릭 Estilos para el contenedor del bot칩n */
.button-delete-container {
  /* Aqu칤 puedes definir estilos para el contenedor si es necesario */
}

/* 游릭 Estilos espec칤ficos para el bot칩n dentro del contenedor */
.button-delete-container button {
  background-color: #484a51;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 0.9rem;
}

.button-delete-container button:hover {
  background-color: #c82333;
}