/* src/components/ProductCarousel/ProductCarousel.css */

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f2f5;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

.carousel-container h4 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Espacio entre los botones y la tarjeta */
  width: 100%;
}

.carousel-content > .custom-button {
  /* Puedes estilizar los botones del carrusel aquí, si es necesario */
  padding: 12px 24px;
  font-size: 1rem;
}